<div class="text-center">
  <div class="mb-3">
    <img
      *ngIf="_avatarUrl"
      [src]="_avatarUrl"
      alt="Avatar"
      class="avatar image"
    />
    <img
      *ngIf="!_avatarUrl"
      src="https://xkqaosxuhwtkayjgblmt.supabase.co/storage/v1/object/public/avatars/default-icon.png"
      alt="Avatar"
      class="avatar image"
    />
  </div>
  <div class="mb-3">
    <label class="btn btn-primary" for="single">
      {{ uploading ? 'Uploading ...' : 'Upload' }}
    </label>
    <input
      style="visibility: hidden;position: absolute"
      type="file"
      id="single"
      accept="image/*"
      (change)="uploadAvatar($event)"
      [disabled]="uploading"
    />
  </div>
</div>