<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="text-center">Register/Login</h1>
    <p class="text-center">Sign in via magic link with your email below</p>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          formControlName="email"
          class="form-control"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div class="mb-3 text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loading"
        >
          {{ loading ? 'Loading' : 'Send magic link' }}
        </button>
      </div>
    </form>
  </div>
</div>